i3-wm.binding.exit_app: q
i3-wm.gaps.focus_follows_mouse: yes
{{ if (eq .chezmoi.hostname "xps13") }}
gnome.terminal.font: JetBrains Mono 11
{{ else }}
gnome.terminal.font: JetBrains Mono 9
{{ end }}
