{
    "workbench.colorTheme": "Visual Studio Dark",
    "editor.fontFamily": "'JetBrains Mono'",
{{ if (eq .chezmoi.hostname "xps13") }}
    "editor.fontSize": 14,
{{ else }}
    "editor.fontSize": 12,
{{ end }}
    "editor.tabSize": 3,
    "editor.autoClosingBrackets": "never",
    "editor.autoClosingQuotes": "never",
    "editor.copyWithSyntaxHighlighting": false,
    "editor.minimap.enabled": false,
    "breadcrumbs.enabled": false,
    "editor.renderWhitespace": "none",
    "go.toolsEnvVars": {
        "PKG_CONFIG_PATH":"/opt/lib/pkgconfig",
        "LD_LIBRARY_PATH":"/opt/lib"
    },
    "editor.acceptSuggestionOnEnter": "off"
}
